# Make Go the primary language
*.go linguist-language=Go

# Ignore frontend files (Next.js / React)
*.css linguist-vendored
*.tsx linguist-vendored
*.ts linguist-vendored
*.jsx linguist-vendored
*.html linguist-vendored